@model int

<li class="nav-item dropdown">
    <a class="nav-link position-relative" asp-controller="Leave" asp-action="Notifications">
        <i class="bi bi-bell"></i>
        @if (Model > 0)
        {
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Model
            </span>
        }
    </a>
</li>